{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="/inicio">Inicio</a>
  &rsaquo; <a href="/inicio/academicos/">Academicos</a>
</div>
{% endblock %}



{% block content %}

<h2>Académicos</h2>

  {% include 'sortable_listview/sort_links.html' %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>nombre</th>
      <th>acreditación</th>
      <th>tutor</th>
      <th>comité académico</th>
      <th>entidad</th>
    </tr>
  </thead>

  <tbody>
    {% for academico in object_list %}

    <tr>
      <td><a href="/inicio/usuario/{{ academico.user.id }}/">
	  {{ academico.id }}</a></td>
      <td><a href="/inicio/usuario/{{ academico.user.id }}/">{{ academico.user.get_full_name }}</a></td>
      <td>
	{{ academico.acreditacion }}
      </td>
      <td>{% if academico.tutor %}
	<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
	{% endif %}
      </td>
      <td>{% if academico.comite_academico %}
	<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
	{% endif %}
      </td>
      <td>{{ academico.entidad }}</td>
    </tr>

  {% endfor %}
  </tbody>
</table>
  {% include 'sortable_listview/pagination.html' %}

{% endblock %}
