{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; <a href="{% url 'lista_academicos' %}">Academicos</a>
</div>
{% endblock %}



{% block content %}

<h2>Académicos</h2>

  {% include 'sortable_listview/sort_links.html' %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>nombre</th>
      <th>acreditación</th>
      <th>perfil académico</th>
      <th>perfil personal</th>
      <th>entidad</th>
    </tr>
  </thead>

  <tbody>
    {% for academico in object_list %}

    <tr>
      <td>{{ academico.nombre_completo }}</td>
      <td>
	{{ academico.acreditacion }}
      </td>
      <td>
	{% if user.academico.resumen_completo %}
	<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
	{% endif %}
	<a href="{% url 'user_detail' academico.user.id %}">
	  prfil académico
	</a>
      </td>
      <td>
	{% if user.perfil %}
	<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
	<a href="{% url 'user_detail' academico.user.id %}">
	  perfil personal
	</a>
	{% endif %}

      </td>
      <td>{{ academico.entidad }}</td>
    </tr>

  {% endfor %}
  </tbody>
</table>
  {% include 'sortable_listview/pagination.html' %}

{% endblock %}
