{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}


{% block content %}
Estudiantes registrados pueden pre-registrarse con este formulario.

La lista debe estar en formato CSV, con las siguientes columnas:

<ul>
<li>Número de cuenta</li>
<li>Nombre completo</li>
<li>Correo electrónico</li>
<li>Plan (1.Maestría, 2.Doctorado, 3.Doctorado Directo, 4.Opción a titulación)</li>
<li>Título de proyecto</li>
<li>Campo de conocimiento o línea de investigación</li>
<li>Entidad</li>
</ul>

Acá hay una plantilla: <a href="lote_estudiantes.csv">lote_estudiantes.csv</a>.
<hr />

{% crispy form %}

{% endblock %}
