{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}

  &rsaquo; <a href="/inicio">Inicio</a>
  &rsaquo; <a href="/inicio/catedras/mis">Mis cátedras</a>

</div>
{% endblock %}


{% block content %}

<h2>Mis cátedras</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Año</th>
      <th>Semestre</th>
      <th>Profesor</th>
      <th>Solicitud</th>
    </tr>
  </thead>

  <tbody>
    {% for catedra in object_list %}
    <tr>
      <th>{{ catedra.curso }} </th>
      <th>{{ catedra.year }}</th>
      <th>{{ catedra.semestre }}</th>
      <th>{{ catedra.profesor }}</th>
      <th>{{ catedra.solicitud.as_a|safe }}</th>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
