{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; <a href="{% url 'mis_catedras' %}">Cátedras registradas</a>
</div>
{% endblock %}



{% block content %}

<h2>Cátedras registradas</h2>

  {% include 'sortable_listview/sort_links.html' %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>curso</th>
      <th>profesor</th>
      <th>año</th>
      <th>semestre</th>
    </tr>
  </thead>

  <tbody>
    {% for catedra in object_list %}

    <tr>
      <td><a href="">
	  {{ catedra.id }}</a></td>
      <td><a href="/inicio/catedras/{{ catedra.id }}/">{{ catedra.curso }}</a></td>
      <td>{{ catedra.profesor }}</td>
      <td>{{ catedra.year }}</td>
      <td>{{ catedra.semestre }}</td>

    </tr>

  {% endfor %}
  </tbody>
</table>
  {% include 'sortable_listview/pagination.html' %}

{% endblock %}
