{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}



{% block content %}

<h1>Asignaturas disponibles para el semestre {{ convocatoria.year }}-{{ convocatoria.semestre }}</h1>

<p>
  <a href="{% url 'proponer_asignatura' %}">Proponga una nueva asignatura optativa</a>.
</p>
<p>
  O elija una asignatura en la siguiente lista para proponer su curso
  haciendo click en "solicitar curso".
</p>
<hr>


{% if convocatoria.status == 'abierta' %}
{% for as in asignaturas %}
<h2>{{ as.asignatura}}</h2>

<div style="text-align: right;">
<a href="{% url 'solicita_curso' convocatoria.id as.id %}">solicitar curso</a>
</div>

<ul>
  <li>clave: {{ as.clave }}</li>
  <li>creditos: {{ as.creditos }}</li>
  <li><a href="{{ as.programa.url }}">programa</a></li>  
</ul>
{% endfor %}
{% endif %}

{% endblock %}

