{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block content %}

<a href="/admin/posgradmin/estudiante/">tabla de estudiantes</a>

<hr />


<div class="flex flex-row">
  {% if U.perfil.headshot %}
  <div>
    <img alt="" class="media-object"
	 width="150px"
	 src="{{ U.perfil.headshot.url }}" />
  </div>
  {% endif %}

</div>


<ul class="rounded shadow mt-4 p-2 bg-gray-100">

  <h2 class="text-lg">
    {{ estudiante }}
  </h2>


  <div class="grid grid-flow-row-dense grid-cols-2 grid-rows-1 gap-2  mt-4">

    <ul class="rounded shadow p-4 bg-amber-50 text-sm">
      <li>Género {{ estudiante.user.perfil.genero }}</li>
      <li>Fecha nacimiento {{ estudiante.user.perfil.fecha_nacimiento }}</li>
      <li>Nacionalidad {{ estudiante.user.perfil.nacionalidad }}</li>
      {% if estudiante.user.perfil.CVU %}<li>CVU: {{ estudiante.user.perfil.CVU }}</li>{% endif %}
      {% if estudiante.user.perfil.curp %}<li>CURP: {{ estudiante.user.perfil.curp }}</li>{% endif %}
      {% if estudiante.user.perfil.rfc %}<li>RFC: {{ estudiante.user.perfil.rfc }}</li>{% endif %}
    </ul>

    <ul class="rounded shadow p-4 bg-amber-50 text-sm">
      <div class="text-lg text-green-800">Contacto</div>    
      {% if estudiante.user.perfil.telefono %}<li>tel.: {{ estudiante.user.perfil.telefono }}</li>{% endif %}
      {% if estudiante.user.perfil.telefono_movil %}<li>móvil: {{ estudiante.user.perfil.telefono_movil}}</li>{% endif %}
      {% if estudiante.user.perfil.website %}<li>website: <a href="{{ estudiante.user.perfil.website }}">{{ estudiante.user.perfil.website }}</a></li>{% endif %}
      <li><a href="mailto:{{ estudiante.user.email }}">{{ estudiante.user.email }}</a></li>
      {% if estudiante.user.perfil.direccion1 %}<li>dirección: {{ estudiante.user.perfil.direccion1 }} CP {{ estudiante.user.perfil.codigo_postal }}</li>{% endif %}
    </ul>
  </div>

  <div class="flex flex-col rounded shadow mt-2 p-4 bg-amber-50">
    <div class="text-lg text-green-800">Grados Académicos</div>
    
    {% for g in estudiante.user.gradoacademico_set.all %}
    <div class="mv-2 p-2 bg-gray-50 shadow">
      <em>{{ g.fecha_obtencion }}</em><br />
      <strong>{{ g.grado_obtenido }}</strong>
      (nivel {{ g.nivel }}) <br />
      {{ g.institucion }}
    </div>
    {% endfor %}
    
  </div>
  
</div>

{% if estudiante.generacion_maestria %}
<div class="flex flex-col rounded shadow m-2 bg-lime-50 p-4">
  <h2 class="text-l">Maestría</h2>

  <div class="grid grid-flow-row-dense grid-cols-2 grid-rows-2 gap-2 text-neutral-700">  
    <ul class="rounded shadow p-4 bg-teal-50 text-sm">
      <li>Generación de Maestría: {{ estudiante.generacion_maestria }}</li>
      <li>Estatus: {{ estudiante.estado }}</li>
      <li>Última inscripción: {{ estudiante.ultima_inscripcion }}</li>
    </ul>
    
    <ul class="rounded shadow p-4 bg-teal-50 text-sm">  
      <li>Sede administrativa: {{ estudiante.sede_adm_maestria }}</li>
      <li>Entidad: {{ estudiante.entidad.suborganizacion }}</li>
    </ul>
    
    <ul class="rounded shadow p-4 bg-teal-50 text-sm col-span-2">
      <li class="text-right mb-4">      
	Campo de Conocimiento: {{ estudiante.campo_conocimiento }}</li>
      <li class="mt-2">	
	Proyecto:
	<div class="text-teal-800 text-lg">
	  {{ estudiante.proyecto_maestria }}
	</div>
      </li>
    </ul>
  </div>

  
  <div class="rounded shadow p-4 bg-pink-50 mt-4">
    <div class="text-lg text-green-800">Comité</div>
    <div class="bg-gray-100">
      <table>
	{% for m in estudiante.comite_maestria %}
	<tr>
	  <td>
	    {{ m.year}}-{{ m.semestre}}
	  </td>
	  <td>
	    {{ m.get_tipo_display }}
	  </td>
	  <td>
	    {% if m.tutor %}
	    {{ m.tutor }}
	    {% elif m.invitado %}
	    {{ m.invitado }} (invitado)
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>

    
    <h3 class="text-l">Historial</h3>
    <div class="bg-gray-100">
      <table>
	{% for h in estudiante.historial_maestria %}
	<tr>
	  <td>{{ h.fecha }}</td><td>{{ h.year }}</td><td>{{ h.semestre }}</td><td>{{ h.estado }}</td><td>{{ h.institucion }}</td><td>{{ h.notas_set.all }}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
</div>
{% endif %}



{% if estudiante.generacion_doctorado %}
<div class="flex flex-col rounded shadow m-2 bg-lime-100 p-4">
  <h2 class="text-l">
    Doctorado
  </h2>

  <div class="grid grid-flow-row-dense grid-cols-2 grid-rows-2 gap-2 text-neutral-700">
    <ul class="rounded shadow p-4 bg-amber-50 text-sm">
      <li>Generación de Doctorado: {{ estudiante.generacion_doctorado }}</li>
      <li>Estatus: {{ estudiante.estado }}</li>
      <li>Última inscripción: {{ estudiante.ultima_inscripcion }}</li>
      {% if estudiante.estado == "graduado" %}
      <li class="text-purple-800 font-semibold text-2xl my-2">
	Graduado
      </li>
      {% endif %}
    </ul>
    
    <ul class="rounded shadow p-4 bg-amber-50 text-sm">  
      <li>Entidad: {{ estudiante.entidad.suborganizacion }}</li>
      <li>Sede administrativa: {{ estudiante.sede_adm_doctorado|default:"" }}</li>
    </ul>
    
    <ul class="rounded shadow p-4 bg-amber-50 text-sm col-span-2">
      <li class="text-right mb-4">
	Linea de investigación: <div class="text-green-800 text-lg">
	  {{ estudiante.lineas_investigacion }}</div></li>
      <li class="mt-2">Proyecto: <div class="text-teal-800 text-lg">
	  {{ estudiante.proyecto_doctorado }}</div>
      </li>    
    </ul>
  </div>

  <div class="rounded shadow p-4 bg-teal-50 mt-2">
    <div class="text-lg text-green-800">Comité</div>
    <div class="bg-gray-100">
      <table>
	{% for m in estudiante.comite_doctorado %}
	<tr>
	  <td>
	    {{ m.year}}-{{ m.semestre}}
	  </td>	  
	  <td>
	    {{ m.get_tipo_display }}
	  </td>
	  <td>
	    {% if m.tutor %}
	    {{ m.tutor }}
	    {% elif m.invitado %}
	    {{ m.invitado }} (invitado)
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>

  
    <h3 class="text-l">Historial</h3>
    <div class="bg-gray-100">
      <table>
	{% for h in estudiante.historial_doctorado %}
	<tr>
	  <td>{{ h.fecha }}</td><td>{{ h.year }}</td><td>{{ h.semestre }}</td><td>{{ h.estado }}</td><td>{{ h.institucion }}</td><td>{{ h.notas_set.all }}</td>	  
	</tr>
	{% endfor %}
      </table>
    </div>
  
</div>
{% endif %} {# doctorado #}
    





{% if estudiante.notas.count > 0 %}
<div class="rounded shadow m-2 p-4 bg-amber-100">
  <h2>Notas</h2>
  {% for n in estudiante.notas.all %}
  <div class="bg-slate-100 shadow p-2">
    <div class="text-gray-600 float-right">{{ n.fecha }}, {{ n.autor }}, {{ n.estado }}</div>
    <div class="text-gray-800 font-bold text-xl mb-2">{{ n.asunto }}</div>
    {{ n.nota|markdown }}
  </div>
  {% endfor %}
</div>
{% endif %}


{% endblock %}
