{% extends "posgradmin/posgradmin_base.html" %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="/inicio">Inicio</a>
  &rsaquo; <a href="/inicio/estudiantes/">Estudiantes</a>
  &rsaquo; {{ object }}
</div>
{% endblock %}


{% block content %}

<h2>{{ object }}</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
      Comité Tutoral
    </h3>
  </div>
  <div class="panel-body">

    {{ object.comite_tutoral.solicitud.as_a|safe }}
    {{ object.comite_tutoral.solicitud.dictamen_final.fecha }}
    <hr />
    {{ object.comite_tutoral.as_ul|safe }}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      Proyecto
    </h3>
  </div>
  <div class="panel-body">
    {% if object.get_proyecto is None %}
    <div class="alert alert-danger" role="alert">
      <strong>No ha registrado proyecto</strong>
    </div>
    {% else %}
    <h4>{{ object.get_proyecto.nombre }}</h4>
    Campo de Conocimiento: {{ object.proyecto_set.last.campo_conocimiento }}

    {% if not object.get_proyecto.aprobado %}
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Proyecto no aprobado.
      Ver solicitud {{ object.get_proyecto.solicitud.as_a|safe }}.
    </div>
    {% endif %}
    
    {% if object.get_proyecto_no_aprobado %}
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Solicitud de cambio: <strong>{{ object.get_proyecto_no_aprobado }}</strong>
      {{ object.get_proyecto_no_aprobado.solicitud.as_a|safe }}.
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
      <a href="/inicio/solicitudes/">Solicitudes</a></h3>
  </div>
  <div class="panel-body">

    <table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th>estado</th>
	  <th>tipo</th>
	  <th>resumen</th>
	  <th>fecha de creacion</th>
	</tr>
      </thead>

      <tbody>
	{% for solicitud in object.user.solicitud_set.all %}

	<tr>
	  <td><a href="/inicio/solicitudes/{{ solicitud.id }}/">
	      {{ solicitud.id }}</a></td>
	  <td>
	    {% if solicitud.dictamen_final %}
	    {% if solicitud.dictamen_final.resolucion == 'concedida' %}
	    <span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span>
	    {% else %}
	    <span class="glyphicon glyphicon-thumbs-down" aria-hidden=true></span>
	    {% endif %}
	    {% elif solicitud.predictamen %}
	    <span class="glyphicon glyphicon-eye-open" aria-hidden=true></span>	
	    {% endif %}
	    
	    {{ solicitud.estado }}	
	  </td> 
	  <td>{{ solicitud.tipo }}</td>
	  <td><a href="/inicio/solicitudes/{{ solicitud.id }}/">
	      {{ solicitud.resumen }}</a></td>
	  <td>{{ solicitud.fecha_creacion }}</td>
	</tr>

	{% endfor %}
      </tbody>
    </table>
  </div>
</div>




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      Datos Personales</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">


      {% if object.user.headshot %}
      <li class="list-group-item">
	<img src="/media/headshots/{{ object.user.id }}.png" width="100px" />
      </li>
      {% endif %}
      <li class="list-group-item"><strong>fecha de nacimiento</strong> {{ object.user.perfil.fecha_nacimiento }}</li>
      <li class="list-group-item"><strong>genero</strong> {{ object.user.perfil.genero }}</li>
      <li class="list-group-item"><strong>nacionalidad</strong> {{ object.user.perfil.nacionalidad }}</li>
      <li class="list-group-item"><strong>curp</strong> {{ object.user.perfil.curp }}</li>
      <li class="list-group-item"><strong>rfc</strong> {{ object.user.perfil.rfc }}</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
      Información de contacto
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><strong>telefono</strong> {{ object.user.perfil.telefono }}</li>
      <li class="list-group-item"><strong>telefono_movil</strong> {{ object.user.perfil.telefono_movil }}</li>
      <li class="list-group-item"><strong>email</strong> {{ object.user.email }}</li>      
      <li class="list-group-item"><strong>email2</strong> {{ object.user.perfil.email2 }}</li>
      <li class="list-group-item"><strong>website</strong> {{ object.user.perfil.website }}</li>
      <li class="list-group-item"><strong>direccion1</strong> {{ object.user.perfil.direccion1 }}</li>
      <li class="list-group-item"><strong>direccion2</strong> {{ object.user.perfil.direccion2 }}</li>
      <li class="list-group-item"><strong>codigo_postal'</strong> {{ object.user.perfil.codigo_postal }}</li>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      Grados Académicos
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {% for grado in object.user.gradoacademico_set.all %}
      <li class="list-group-item">
	<strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}, {{ grado.facultad }}
	<p class="list-group-item-text">nivel {{ grado.nivel }}
	  obtenido el {{ grado.fecha_obtencion }},
	  promedio: {{ grado.promedio }}<br />
	  <a href="{{ grado.documento_url }}">documento</a></p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>




{% endblock %}
