{% extends "posgradmin/posgradmin_base.html" %}

{% block content_title %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-4">


    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">

	  {% if not user.perfil %}
	  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>	  
	  Perfil
	  {% elif user.estudiante %}
	  <span class="glyphicon glyphicon-education" aria-hidden="true"></span>	  
	  Estudiante [{{ user.estudiante.estado }}]
	  {% elif user.academico %}
	  <span class="glyphicon glyphicon-education" aria-hidden="true"></span>	  	  
	  Académico
	  {% endif %}
	</h3>
      </div>
      <div class="panel-body">
	{% if user.perfil %}

	{% if user.estudiante %}

	<h4>{{ user.get_full_name }}</h4>
	{% if user.estudiante.estado == "aspirante" %}
	{% endif %}

	{% if user.estudiante.faltan_documentos %}
	<div class="alert alert-danger" role="alert">
          <strong>Faltan documentos</strong> Edite su perfil para subir los documentos que faltan.
	</div>
	{% endif %}
	
	{% else %}
	  <a href="/estudiante/registro">Registrarse como estudiante</a></li>
	{% endif %}

	  {% if not user.academico %}
	  <a href="/academico/registro">Registrarse como académico</a></li>
	  {% endif %}

	{% else %}
	  Para interactuar con el programa de posgrado necesitamos algunos datos personales y de contacto:
	  <a href="/perfil/registro">Completar registro de perfil</a>
	{% endif %}
      </div>
    </div>


  </div><!-- /.col-sm-4 -->

{% if user.estudiante or user.academico %}
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
	  Solicitudes</h3>
      </div>
      <div class="panel-body">
	<p>
	<a href="/inicio/solicitudes/nueva">
	  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  nueva solicitud
	</a>
	</p>
	<ul class="list-group">
	  
	  <li class="list-group-item">
	    <a href="/inicio/solicitudes/">todas <span class="badge">{{ solicitudes.todas }}</span></a></li>
	  <li class="list-group-item">
	    <a href="/inicio/solicitudes/nuevas">nuevas <span class="badge">{{ solicitudes.nuevas }}</span></a></li>
	</ul>

      </div>
    </div>
{% endif %}

  </div>
</div>







{% endblock %}
