{% extends "posgradmin/posgradmin_base.html" %}

{% block content_title %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-4">
    {% if not user.perfil %}
    <div class="alert alert-danger" role="alert">
      <strong>No tiene perfil personal.</strong>
      <a href="{% url 'editar_perfil' %}">Crear perfil personal.</a>.
    </div>
    {% else %}

    {% if not user.perfil.adscripcion_ok %}
    <div class="alert alert-danger" role="alert">
      <strong>No ha agregado su adscripción</strong>
      <a href="{% url 'agregar_adscripcion' %}">Agregar adscripción</a>.
    </div>
    {% elif not user.perfil.asociado_PCS %}
    <div class="alert alert-danger" role="alert">
      <strong>No asociado a entidad del PCS</strong>
      <a href="{% url 'agregar_asociacion' %}">Registrar asociación</a>.
    </div>
    {% endif %}
    {% endif %}


    {% if not user.gradoacademico_set.all %}
    <div class="alert alert-danger" role="alert">
      <strong>No ha agregado grados académicos</strong>
      <a href="{% url 'agregar_grado' %}">Agregar grados académicos</a>.
    </div>
    {% endif %}





    <div class="list-group">
      {% if user.perfil %}
      <a href="{% url 'perfil' %}" class="list-group-item">Perfil Personal</a>
      {% endif %}

      {% if user.academico %}
      <a href="{% url 'perfil_academico' %}" class="list-group-item">Perfil Académico</a>
      {% endif %}

      {% if user.estudiante %}
      <a href="{% url 'perfil_estudiante' %}" class="list-group-item">Perfil de Estudiante</a>
      {% endif %}
      
    </div>

    {# if user.perfil #}
    {# include 'posgradmin/inicio_perfil.html' #}
    {# else #}
    {# endif #}


    {# if user.academico #}
    {# include 'posgradmin/inicio_academico.html' #}
    {# endif #}


    {# if user.estudiante #}
    {# include 'posgradmin/inicio_estudiante.html' #}
    {# endif #}

  </div><!-- /.col-sm-4 -->


  <!-- Solicitudes -->
  {% if False %} {# deshabilito mientras tanto #}
{# if user.estudiante or user.academico or user.asistente or user.is_staff #}
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
	  <a href="{% url 'solicitudes' %}">Solicitudes</a></h3>
      </div>
      <div class="panel-body">
	<p>
	<a href="{% url 'solicitud_nueva' %}">
	  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  nueva solicitud
	</a>
	</p>
	<!-- lista conteo -->
	<ul class="list-group">
	  {% if user.is_staff or user.asistente  %}

	  {% for s in user.asistente.cuantas_solicitudes %}
	  <li class="list-group-item">
	    <a href="{% url 'solicitudes_estado' s.0 %}">{{ s.0 }} <span class="badge">{{ s.1 }}</span></a>
	  </li>
	  {% endfor %}

	  {% elif user.academico %}

	  {% for s in user.academico.cuantas_solicitudes %}
	  <li class="list-group-item">
	    <a href="{% url 'solicitudes_estado' s.0 %}">{{ s.0 }} <span class="badge">{{ s.1 }}</span></a>
	  </li>
	  {% endfor %}

	  {% elif user.estudiante %}

	  {% for s in user.estudiante.cuantas_solicitudes %}
	  <li class="list-group-item">
	    <a href="{% url 'solicitudes_estado' s.0 %}">{{ s.0 }} <span class="badge">{{ s.1 }}</span></a>
	  </li>
	  {% endfor %}

	  {% endif %}

	</ul>

      </div>
    </div>
  </div>
  {% endif %}


</div>

{% if user.is_staff or user.asistente %}
<div class="row">


  <div class="col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
	  Acciones especiales
	</h3>
      </div>
      <div class="panel-body">
	<p><a href="{% url 'toggle_perfil_editar' %}">Activar o desactivar formularios de edición de perfiles</a></p>
	<p><a href="{% url 'academico_invitar' %}">Crear académicos desde hoja de cálculo</a></p>
      </div>
    </div>
  </div>
  
</div>
{% endif %}





{% endblock %}
