{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}



{% block content %}
<h1>Invitar académicos</h1>
   {% crispy form %}

{% if aciertos %}
<div style="border-style: solid; border-width: 1px; border-color: green; padding: 1em; background-color: #eafaea">
  <h2>Académicos registrados</h2>
  <table class="table table-striped">
    {% for row in aciertos %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}


{% if form_errors %}
<div style="border-style: solid; border-width: 1px; border-color: red; padding: 1em; background-color: #faeaea;">
  <h2>Errores</h2>  
  <table class="table table-striped">
    {% for row in form_errors %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}


<script>
$(document).ready(function() {
    $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd'});
}); 
</script>
{% endblock %}

