{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="/inicio">Inicio</a>
  &rsaquo; <a href="/inicio/perfil">Mi perfil</a>
</div>
{% endblock %}


{% block content %}



<h2>{{ object.user.first_name }} {{ object.user.last_name }}</h2>

<a href="editar">editar</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      Datos Personales</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">

      <li class="list-group-item"><img src="/media/headshots/{{ user.id }}.png" width="100px" /></li>
      <li class="list-group-item"><strong>fecha de nacimiento</strong> {{ object.fecha_nacimiento }}</li>
      <li class="list-group-item"><strong>genero</strong> {{ object.genero }}</li>
      <li class="list-group-item"><strong>nacionalidad</strong> {{ object.nacionalidad }}</li>
      <li class="list-group-item"><strong>curp</strong> {{ object.curp }}</li>
      <li class="list-group-item"><strong>rfc</strong> {{ object.rf }}</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
      Información de contacto
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><strong>telefono</strong> {{ object.telefono }}</li>
      <li class="list-group-item"><strong>telefono_movil</strong> {{ object.telefono_movil }}</li>
      <li class="list-group-item"><strong>email2</strong> {{ object.email2 }}</li>
      <li class="list-group-item"><strong>website</strong> {{ object.website }}</li>
      <li class="list-group-item"><strong>direccion1</strong> {{ object.direccion1 }}</li>
      <li class="list-group-item"><strong>direccion2</strong> {{ object.direccion2 }}</li>
      <li class="list-group-item"><strong>codigo_postal'</strong> {{ object.codigo_postal }}</li>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      Grados Académicos
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {% for grado in object.user.gradoacademico_set.all %}
      <li class="list-group-item">
	<strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}, {{ grado.facultad }}
	<p class="list-group-item-text">nivel {{ grado.nivel }}
	  obtenido el {{ grado.fecha_obtencion }},
	  promedio: {{ grado.promedio }}<br />
	  <a href="{{ grado.documento }}">documento</a></p>
      </li>
      {% empty %}
      <div class="alert alert-danger" role="alert">
	<strong>No ha registrado grados académicos</strong>
	<a href="/inicio/perfil/agregar-grado">Agregar grados académicos</a>.
      </div>
      {% endfor %}
    </ul>
  </div>
</div>




{% if object.user.academico %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon glyphicon-leaf" aria-hidden="true"></span>
      Adscripciones
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {% for ad in object.user.academico.adscripcion_set.all %}
      <li class="list-group-item">
	{{ ad.nombramiento }} en {{ ad.institucion }} <strong>Tel:</strong> {{ ad.telefono }}
      </li>
      {% empty %}
      <div class="alert alert-danger" role="alert">
	<strong>No ha registrado adscripciones</strong>
	<a href="/inicio/perfil/agregar-adscripcion">Agregar adscripción</a>.
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}



{% if object.user.estudiante %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      Estudiante [{{ perfil.user.estudiante.estado }}]
    </h3>
  </div>

  <div class="panel-body">
    
    <h2>Proyecto: {{ perfil.user.estudiante.get_proyecto.nombre }}</h2>
    Campo de Conocimiento: {{ perfil.user.estudiante.proyecto_set.last.campo_conocimiento }}

    {% if not perfil.user.estudiante.get_proyecto.aprobado %}
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Proyecto no aprobado.
      Ver solicitud <a href="/inicio/solicitudes/{{ perfil.user.estudiante.get_proyecto.solicitud.id }}">
	#{{ perfil.user.estudiante.get_proyecto.solicitud.id }}</a>.
    </div>
    {% endif %}
    
    {% if user.estudiante.get_proyecto_no_aprobado %}
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Solicitud de cambio: {{ user.estudiante.get_proyecto_no_aprobado }}
      Ver <a href="/inicio/solicitudes/{{ user.estudiante.get_proyecto_no_aprobado.solicitud.id }}">
	#{{ user.estudiante.get_proyecto_no_aprobado.solicitud.id }}</a>.
    </div>
    {% endif %}	

    
    <hr />
    <ul class="list-group">
      <li class="list-group-item">estado: {{ perfil.user.estudiante.estado }}</li>
      <li class="list-group-item">año de ingreso al posgrado: {{ perfil.user.estudiante.ingreso | default:""}}</li>
      <li class="list-group-item">semestre de ingreso al posgrado: {{ perfil.user.estudiante.semestre |default:""}}</li>
      <li class="list-group-item">Entidad: {{ perfil.user.estudiante.entidad | default:"" }}</li>
      {% if perfil.user.estudiante.convenio %}<li class="list-group-item">Convenio: {{ perfil.user.estudiante.convenio }}</li>{% endif %}
      <li class="list-group-item">clave del plan de estudios: {{ perfil.user.estudiante.plan | default:""}}</li>
      {% if perfil.user.estudiante.doctorado_directo %}<li class="list-group-item">Doctorado directo<li>{% endif %}
	{% if perfil.user.estudiante.titulacion_licenciatura %}<li class="list-group-item">primer año de maestría para obtener grado de licenciatura</li>{% endif %}
    </ul>
      {% if perfil.user.estudiante.fecha_baja %}
      <h2>Baja</h2>
      fecha: {{ perfil.user.estudiante.fecha_baja }}
      motivo: {{ perfil.user.estudiante.motivo_baja }}
      {% endif %}
      
      {% if perfil.user.estudiante.folio_titulacion %}
      <h2>Titulación</h2>
      Fecha de titulación: {{ perfil.user.estudiante.fecha_titulacion }}
      Folio: {{ perfil.user.estudiante.folio_titulacion }}
      Semestre: {{ perfil.user.estudiante.semestre_graduacion }}
      {% if perfil.user.estudiante.mencion_honorifica %}Mención Honorífica{% endif %}
      {% if perfil.user.estudiante.medalla_alfonso_caso %}Medalla Alfonso Caso{% endif %}
      {% endif %}
      
  </div>
</div>
{% endif %}

{% endblock %}
