{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  {% if object.academico %}
  &rsaquo; <a href="{% url 'lista_academicos' %}">Académicos</a>
  {% endif %}
</div>
{% endblock %}


{% block content %}

{% if object %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      Grados Académicos
    </h3>
  </div>
  <div class="panel-body">
    <a href="{% url 'agregar_grado' %}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> agregar grado académico</a><br /><br />
    <ul class="list-group">
      {% for grado in object.user.gradoacademico_set.all %}
      <li class="list-group-item">
	<div style="float: right">
	  <button type="button" class="btn btn-danger btn-xs"
		  onClick="if (confirm('¿eliminar {{ grado.grado_obtenido}}?')) window.location='/inicio/perfil/eliminar-grado/{{grado.id}}'">
	    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></div>
	<strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}, {{ grado.facultad }}
	<p class="list-group-item-text">nivel {{ grado.nivel }}
	  obtenido el {{ grado.fecha_obtencion }},
	  promedio: {{ grado.promedio }}<br />
	  <a href="{{ grado.documento }}">documento</a></p>
      </li>
      {% endfor %}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon glyphicon-leaf" aria-hidden="true"></span>
      Adscripciones
    </h3>
  </div>
  <div class="panel-body">
    <a href="{% url 'agregar_adscripcion' %}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      agregar adscripción</a><br /><br />
    <ul class="list-group">
      {% for ad in object.user.adscripcion_set.all %}
      <li class="list-group-item">
	<div style="float: right">
	  <button type="button" class="btn btn-danger btn-xs"
		  onClick="if (confirm('¿eliminar {{ ad.nombramiento}} @ {{ ad.institucion }}?')) window.location='/inicio/perfil/eliminar-adscripcion/{{ad.id}}'">
	    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></div>
	<strong>{{ ad.cargo }} </strong> @ {{ ad.institucion }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}


<br /><br />

{% crispy form %}
<!-- <script> -->
<!-- $(document).ready(function() { -->
<!--     $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd'}); -->
<!-- }); -->
<!-- </script> -->




{% endblock %}
