{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; Perfil personal
</div>
{% endblock %}


{% block content %}

{% if not user.perfil.adscripcion_ok %}
<div class="alert alert-danger" role="alert">
  <strong>No ha agregado su adscripción</strong>
  <a href="{% url 'agregar_adscripcion' %}">Agregar adscripción</a>.
</div>
{% elif not user.perfil.asociado_PCS %}
<div class="alert alert-danger" role="alert">
  <strong>No asociado a entidad del PCS</strong>
  <a href="{% url 'agregar_asociacion' %}">Registrar asociación</a>.
</div>
{% endif %}

{% if not user.gradoacademico_set.all %}
<div class="alert alert-danger" role="alert">
  <strong>No ha agregado grados académicos</strong>
  <a href="{% url 'agregar_grado' %}">Agregar grados académicos</a>.
</div>
{% endif %}





<h1>{{ object.get_full_name }}</h1>

<hr>

{% if user == object and editable %}
<a class="bg-gray-200 p-2 m-2 rounded-lg"
   href="{% url 'editar_perfil' %}">editar perfil personal</a>
{% elif user.is_staff %}
<a href="{% url 'admin:auth_user_change' object.id %}">registro en la base de datos</a><br />
{% if object.perfil %}
<a href="{% url 'admin:posgradmin_perfil_change' object.perfil.id %}">perfil personal en la base de datos</a>
{% endif %}
{% endif %}
<br />  <br />


{% if see_private %}
<h2>Datos Personales</h2>

{% if object.perfil.headshot %}
<img class="media-object"
     width="150px"
     src="{{ object.perfil.headshot.url }}" />
{% endif %}

<ul class="my-2 p-2 bg-amber-50">
  <li>Fecha de Nacimiento
    {{ object.perfil.fecha_nacimiento|default:"" }}</li>
  <li>Genero: {{ object.perfil.genero }}</li>
  <li>Nacionalidad: {{ object.perfil.nacionalidad }}</li>
  <li>CURP: {{ object.perfil.curp }}</li>
  <li>RFC: {{ object.perfil.rfc }}</li>
</ul>

<h2>Información de contacto</h2>
<ul class="my-2 p-2 bg-amber-50">  
  <li>Teléfono {{ object.perfil.telefono }}</li>
  <li>Teléfono Móvil {{ object.perfil.telefono_movil }}</li>
  <li>email {{ object.email }}</li>
  <li>Sitio Web {{ object.perfil.website }}</li>
  <li>Dirección {{ object.perfil.direccion1 }}</li>
  <li>Código Postal {{ object.perfil.codigo_postal|default:"" }}</li>
</ul>

{% else %}

<h2>Información de contacto</h2>
<ul class="list-group">
  <li>email {{ object.email }}</li>
  <li>Sitio Web {{ object.perfil.website|default:'' }}</li>
</ul>
{% endif %}


<h2>Grados Académicos</h2>

<a href="{% url 'agregar_grado' %}">
  agregar grado académico</a><br /><br />

<ul class="list-group">
  {% for grado in object.gradoacademico_set.all %}
  <li>
    <strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}
    <p class="list-group-item-text">
      nivel {{ grado.nivel }}
      obtenido el {{ grado.fecha_obtencion }}<br />
    </p>

  </li>
  {% empty %}
  <li>
    <strong>No ha agregado grados académicos</strong>
    <a href="{% url 'agregar_grado' %}">Agregar grados académicos</a>.
  </li>
  {% endfor %}
</ul>

{% if user.is_staff %}
<a href="{{ APP_PREFIX }}admin/posgradmin/gradoacademico/?q={{ object.username }}">editar grados</a>
{% endif %}




<h2>Adscripción</h2>

<a href="{% url 'agregar_adscripcion' %}">
  agregar adscripción</a><br /><br />


<ul class="list-group">
  {% for ad in user.perfil.adscripcion_set.all %}
  <li>
    {{ ad }}
    {% if ad.catedra_conacyt %}
    <br />
    Cátedra CONACYT
    {% endif %}
    <br />
    {% if not ad.asociacion_PCS %}
    {{ ad.nombramiento }} desde {{ ad.anno_nombramiento }}
    {% endif %}
  </li>
  {% endfor %}
  {% if not user.perfil.adscripcion_ok %}
  <li>
    <strong>No ha agregado su adscripción</strong>
    <a href="{% url 'agregar_adscripcion' %}">Agregar adscripción</a>.
  </li>
  {% elif not user.perfil.asociado_PCS %}
  <li>
    <strong>No asociado a entidad del PCS</strong>
  </li>
  {% endif %}
</ul>




<h2>Expediente</h2>

<ul class="list-group">
  {% for anexo in user.anexoexpediente_set.all %}
  <li>
    <a href="{{ anexo.url }}">
      {{ anexo }}
    </a> anexado el {{ anexo.fecha }}
  </li>
  {% endfor %}
</ul>


{% endblock %}
