{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}



{% block content %}


{% crispy form %}
<script>
$(document).ready(function() {
    $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd'});
}); 
</script>

<br /><br />

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      Grados Académicos
    </h3>
  </div>
  <div class="panel-body">
    <a href="agregar-grado"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> agregar grado académico</a><br /><br />
    <ul class="list-group">
      {% for grado in object.user.gradoacademico_set.all %}
      <li class="list-group-item">
	<div style="float: right">
	  <button type="button" class="btn btn-danger btn-xs"
		  onClick="if (confirm('¿eliminar {{ grado.grado_obtenido}}?')) window.location='/inicio/perfil/eliminar-grado/{{grado.id}}'">
	    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></div>
	<strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}, {{ grado.facultad }}
	<p class="list-group-item-text">nivel {{ grado.nivel }}
	  obtenido el {{ grado.fecha_obtencion }},
	  promedio: {{ grado.promedio }}<br />
	  <a href="{{ grado.documento }}">documento</a></p>
      </li>
      {% endfor %}
  </div>
</div>


{% endblock %}


