{% extends "base.html" %}
{% load admin_urls %}

{% block title %}{% endblock %}

{% block extrahead %}
{% endblock %}




{% block usertools %}

{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}
</div>
{% endblock %}
{% block messages %}{% endblock %}

{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}



{% block content %}
{% endblock %}



{% block object-tools %}{% endblock %}

{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
