{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<a href="https://github.com/pcs-unam/siges/files/4294692/Formato.cursos.nuevos.docx">
  Descargue aquí el formato para proponer una nueva asignatura.
</a>


<div>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>

    <p>
      Una vez propuesto el curso, es necesario ingresar NUEVAMENTE a
      la convocatoria y elegirlo de la lista.
    </p>
        
    <button type="submit"
	    class="bg-indigo-800 p-2 rounded text-white hover:bg-indigo-700">
      {{ title }}
    </button>
  </form>
</div>



{% endblock %}

