{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<a href="https://github.com/pcs-unam/siges/files/4294692/Formato.cursos.nuevos.docx">
  Descargue aquí el formato para proponer una nueva asignatura.
</a>


<div>
  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
	</table>
      <button type="submit" />
      {{ title }}
      </button>
    </form>
</div>

<p>
Una vez propuesta la asignatura*  es necesario ingresar nuevamente a la
convocatoria para solicitar un curso de la misma.
</p>

<p>
  * Una asignatura corresponde a un temario (el formato completo) y se puede impartir en diferentes cursos. Un curso además incluye sede, profesorado, horarios, etc.
</p>


{% endblock %}

