{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<a href="https://github.com/pcs-unam/siges/files/4294692/Formato.cursos.nuevos.docx">
  Descargue aquí el formato para proponer una nueva asignatura.
</a>


<div>
  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
	</table>
      <button type="submit" />
      {{ title }}
      </button>
    </form>
</div>


{% endblock %}

