{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; <a href="{% url 'lista_sesiones' %}">Sesiones del Comité Académico</a>
  &rsaquo; Sesión #{{ object.id }}
</div>
{% endblock %}



{% block content %}
<a href="/admin/posgradmin/sesion/{{ object.id }}/change/">editar</a>
<h2>{{ object.fecha }}, {{ object.descripcion }}</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Solicitudes Agendadas</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th>estado</th>
	  <th>tipo</th>
	  <th>resumen</th>
	  <th>solicitante</th>
	  <th>fecha de creacion</th>
	</tr>
      </thead>


      <tbody>
	{% for solicitud in object.solicitud_set.all %}

	<tr>
	  <td><a href="{% url 'solicitud_detail' solicitud.id %}">
	      {{ solicitud.as_a|safe }}</a></td>
	  <td>
	    {% if solicitud.dictamen_final %}
	    {% if solicitud.dictamen_final.resolucion == 'concedida' %}
	    <span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span>
	    {% else %}
	    <span class="glyphicon glyphicon-thumbs-down" aria-hidden=true></span>
	    {% endif %}
	    {% elif solicitud.predictamen %}
	    <span class="glyphicon glyphicon-eye-open" aria-hidden=true></span>
	    {% endif %}

	    {{ solicitud.estado }}
	  </td>
	  <td>{{ solicitud.tipo }}</td>
	  <td><a href="{% url 'solicitud_detail' solicitud.id %}">
	      {{ solicitud.resumen }}</a></td>
	  <td>{{ solicitud.solicitante.get_full_name }}</td>
	  <td>{{ solicitud.fecha_creacion }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h3>Minuta</h3>

{{ object.minuta|markdown }}

{% endblock %}
