{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}  
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}

  &rsaquo; <a href="/inicio">Inicio</a>
  &rsaquo; <a href="/inicio/solicitudes/">Solicitudes</a>
</div>
{% endblock %}





{% block content %}

<h2>Solicitudes</h2>

<p>
  <a href="/inicio/solicitudes/nueva">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    nueva solicitud </a>
</p>

<div class="btn-toolbar" role="toolbar">
  {% if user.academico %}
  {% for s in user.academico.cuantas_solicitudes %}  
  <div class="btn-group" role="group">
     <span class="badge">{{ s.1 }}</span> <a href="/inicio/solicitudes/e/{{ s.0 }}">{{ s.0 }}
  </div>
  {% endfor %}
  {% else %}
  {% for s in user.estudiante.cuantas_solicitudes %}  
  <div class="btn-group" role="group">
    <a href="/inicio/solicitudes/e/{{ s.0 }}">{{ s.0 }} <span class="badge">{{ s.1 }}</span></a>
  </div>
  {% endfor %}
  {% endif %}
</div>

<p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>estado</th>
      <th>fecha de creacion</th>
      <th>tipo</th>
      <th>resumen</th>
      <th>solicitante</th>            
    </tr>
  </thead>

  <tbody>
  {% for solicitud in object_list %}
    <tr>
      <td>{{ solicitud.id }}</td>
      <td>{{ solicitud.estado }}</td>
      <td>{{ solicitud.fecha_creacion }}</td>      
      <td>{{ solicitud.tipo }}</td>      
      <td>{{ solicitud.resumen }}</td>
      <td>{{ solicitud.solicitante.get_full_name }}</td>      
    </tr>
  {% endfor %}
  </tbody>
</table>
</p>

<script>
$(document).ready(function() {
    $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd'});
}); 
</script>
{% endblock %}
