{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}

  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; <a href="{% url 'solicitudes' %}">Solicitudes</a>
</div>
{% endblock %}





{% block content %}

<h2>Solicitudes</h2>

<p>
  <a href="{% url 'solicitud_nueva' %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    nueva solicitud </a>
</p>

<div class="btn-toolbar" role="toolbar">
  {% if user.asistente or user.is_staff %}
  {% for s in user.asistente.cuantas_solicitudes %}
  <div class="btn-group" role="group">
    <a href="{% url 'solicitudes_estado' s.0 %}">{{ s.0 }} <span class="badge">{{ s.1 }}</span></a>
  </div>
  {% endfor %}

  {% elif user.academico %}

  {% for s in user.academico.cuantas_solicitudes %}
  <div class="btn-group" role="group">
     <span class="badge">{{ s.1 }}</span> <a href="{% url 'solicitudes_estado' s.0 %}">{{ s.0 }}
  </div>
  {% endfor %}

  {% elif user.estudiante %}

  {% for s in user.estudiante.cuantas_solicitudes %}
  <div class="btn-group" role="group">
    <a href="{% url 'solicitudes_estado' s.0 %}">{{ s.0 }} <span class="badge">{{ s.1 }}</span></a>
  </div>
  {% endfor %}

  {% endif %}
</div>

<p>
  {% include 'sortable_listview/sort_links.html' %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>estado</th>
      <th>tipo</th>
      <th>resumen</th>
      <th>solicitante</th>
      <th>fecha de creacion</th>
    </tr>
  </thead>

  <tbody>
    {% for solicitud in object_list %}

    <tr>
      <td><a href="{% url 'solicitud_detail' solicitud.id %}">
	{{ solicitud.id }}</a></td>
      <td>
	{% if solicitud.dictamen_final %}
	{% if solicitud.dictamen_final.resolucion == 'concedida' %}
	<span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span>
	{% else %}
	<span class="glyphicon glyphicon-thumbs-down" aria-hidden=true></span>
	{% endif %}
	{% elif solicitud.predictamen %}
	<span class="glyphicon glyphicon-eye-open" aria-hidden=true></span>
	{% endif %}

	{{ solicitud.estado }}
      </td>
      <td>{{ solicitud.tipo }}</td>
      <td><a href="{% url 'solicitud_detail' solicitud.id %}">
	{{ solicitud.resumen }}</a></td>
      <td><a href="{% url 'user_detail' solicitud.solicitante.id %}">{{ solicitud.solicitante.get_full_name }}</a></td>
      <td>{{ solicitud.fecha_creacion }}</td>
    </tr>

  {% endfor %}
  </tbody>
</table>
  {% include 'sortable_listview/pagination.html' %}
</p>

<script>
$(document).ready(function() {
    $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd'});
});
</script>
{% endblock %}
