{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}  
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}

  &rsaquo; <a href="/inicio">Inicio</a>
  &rsaquo; <a href="/inicio/solicitudes/">Solicitudes</a>
  &rsaquo; <a href="/inicio/solicitudes/{{ object.id }}/">#{{ object.id }}</a>
</div>
{% endblock %}




{% block title %}Solicitud #{{ object.id }}{% endblock %}

{% block content %}

<h1>solicitud #{{ object.id }}</h1>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{ object.fecha_creacion }} por {{ object.solicitante.get_full_name }}</h3>  
  </div>  
  <div class="panel-body">
    <h3>{{ object.resumen }}</h3>
    <p>{{ object.descripcion }}</p>

    {% if object.tipo == "cambiar_comite_tutoral" %}
    {% if object.comite_set.all %}
    {{ object.comite }}
    {% else %}
    <div class="alert alert-danger" role="alert">
      <strong>No ha hecho una elección</strong>.
      <a href="elegir-comite-tutoral">Elegir comité tutoral</a>.
    </div>
    {% endif %}
    {% endif %}
    
  </div>

  
  <div class="panel-footer">
      <strong>tipo:</strong> {{ object.tipo }}
      <strong>estado:</strong> {{ object.estado }}
  </div>
</div>

<h2>Anexos</h2>

{% block anexo_form %}
<a href="anexar"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> subir anexo</a>
{% endblock %}

{% if object.anexo_set.count %}
<div class="row">
  <div class="col-sm-8">
    <ul class="list-group">
      {% for anexo in object.anexo_set.all %}
      <li class="list-group-item">
	<a href="/inicio/solicitudes/{{ object.id }}/anexos/{{ anexo.archivo }}">
	  <strong>
	  <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>	  
	  {{ anexo.archivo }}</a></strong>
	anexado el {{ anexo.fecha }} por       
	{{ anexo.autor.get_full_name }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}


<h2>Comentarios</h2>

{% block comment_form %}
<a href="comentar"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> agregar comentario</a>
{% endblock %}
  
{% if object.comentario_set.count %}
  {% for comentario in object.comentario_set.all %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      {{ comentario.fecha }} por       
      {{ comentario.autor.get_full_name }}</h3>

  </div>

  <div class="panel-body">
    {{ comentario.comentario }}
  </div>
</div>

  {% endfor %}
</ul>
{% endif %}

{% endblock %}
