{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}  
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}

  &rsaquo; <a href="/inicio">Inicio</a>
  &rsaquo; <a href="/inicio/solicitudes/">Solicitudes</a>
</div>
{% endblock %}


{% block content %}

<h2>Solicitudes</h2>

<p>
  <a href="/inicio/solicitudes/nueva">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    nueva solicitud
  </a>
</p>

<ul>
  {% for solicitud in object_list %}
  <li>{{ solicitud }}</li>
  {% endfor %}
</ul>

<script>
$(document).ready(function() {
    $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd'});
}); 
</script>
{% endblock %}
