django
django-allauth
django-crispy-forms
django-sortable-listview
django-markdown2
django-export-action
Pillow
six
django-extensions
pandas
matplotlib
wordcloud
sh
openpyxl==2.5.11
django-simple-search
