django==3.2.15
django-allauth
django-crispy-forms
django-sortable-listview
django-markdown2
Pillow
six
django-extensions
pandas
matplotlib
wordcloud
sh
openpyxl
django-simple-search
django-autocomplete-light==3.5.1
pyexcel-ods3
django-reversion==4.0.1
Impostor==3.0.0
pdfrw
django-tailwind
